# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# Copyright (c) 2011-2020 ETH Zurich.

name: Verify the specified codebase

on:
  push:
    branches:
    - master
  pull_request: # run this workflow on every pull_request

jobs:
  verify:
    runs-on: ubuntu-latest
    env:
      headerOnly: 1
      module: 'github.com/scionproto/scion'
      includePaths: '. verification/dependencies'
      assumeInjectivityOnInhale: '1'
      checkConsistency: '1'
    steps:
      - name: Checkout the VerifiedSCION repository
        uses: actions/checkout@v3
      - name: Cache the verification results
        uses: actions/cache@v3
        env:
          cache-name: gobra-cache
        with:
          path: ${{ runner.workspace }}/.gobra/cache.json
          key: ${{ env.cache-name }}
      # We split the verification of the entire repository into
      # multiple steps. This provides a more fine-grained log in
      # Github Workflow's interface and it allows more fine-grained
      # control over the settings applied to each package (this last
      # point could be also be solved by adapting the action to allow
      # per package config).
      - name: Verify the packages in the 'verification' directory
        uses: viperproject/gobra-action@main
        with:
          projectLocation: 'VerifiedSCION/verification'
          recursive: 1
          packageTimeout: 5m
          headerOnly: ${{ env.headerOnly }}
          module: ${{ env.module }}
          includePaths: './dependencies/ ..' # relative to project location
          assumeInjectivityOnInhale: ${{ env.assumeInjectivityOnInhale }}
          checkConsistency: ${{ env.checkConsistency }}
      - name: Verify package 'pkg/slayers/path'
        uses: viperproject/gobra-action@main
        with:
          packages: 'pkg/slayers/path'
          packageTimeout: 10m
          headerOnly: ${{ env.headerOnly }}
          module: ${{ env.module }}
          includePaths: ${{ env.includePaths }}
          assumeInjectivityOnInhale: ${{ env.assumeInjectivityOnInhale }}
          checkConsistency: ${{ env.checkConsistency }}
      - name: Verify package 'pkg/slayers/path/empty'
        uses: viperproject/gobra-action@main
        with:
          packages: 'pkg/slayers/path/empty'
          packageTimeout: 5m
          headerOnly: ${{ env.headerOnly }}
          module: ${{ env.module }}
          includePaths: ${{ env.includePaths }}
          assumeInjectivityOnInhale: ${{ env.assumeInjectivityOnInhale }}
          checkConsistency: ${{ env.checkConsistency }}
      - name: Verify package 'pkg/slayers/path/epic'
        uses: viperproject/gobra-action@main
        with:
          packages: 'pkg/slayers/path/epic'
          packageTimeout: 5m
          headerOnly: ${{ env.headerOnly }}
          module: ${{ env.module }}
          includePaths: ${{ env.includePaths }}
          assumeInjectivityOnInhale: ${{ env.assumeInjectivityOnInhale }}
          checkConsistency: ${{ env.checkConsistency }}
      - name: Verify package 'pkg/slayers/path/onehop'
        uses: viperproject/gobra-action@main
        with:
          packages: 'pkg/slayers/path/onehop'
          packageTimeout: 5m
          headerOnly: ${{ env.headerOnly }}
          module: ${{ env.module }}
          includePaths: ${{ env.includePaths }}
          assumeInjectivityOnInhale: ${{ env.assumeInjectivityOnInhale }}
          checkConsistency: ${{ env.checkConsistency }}
      - name: Verify package 'pkg/slayers/path/scion'
        uses: viperproject/gobra-action@main
        with:
          packages: 'pkg/slayers/path/scion'
          packageTimeout: 5m
          headerOnly: ${{ env.headerOnly }}
          module: ${{ env.module }}
          includePaths: ${{ env.includePaths }}
          assumeInjectivityOnInhale: ${{ env.assumeInjectivityOnInhale }}
          checkConsistency: ${{ env.checkConsistency }}
      - name: Verify package 'pkg/addr'
        uses: viperproject/gobra-action@main
        with:
          packages: 'pkg/addr'
          packageTimeout: 10m
          headerOnly: ${{ env.headerOnly }}
          module: ${{ env.module }}
          includePaths: ${{ env.includePaths }}
          assumeInjectivityOnInhale: ${{ env.assumeInjectivityOnInhale }}
          checkConsistency: ${{ env.checkConsistency }}
          statsFile: '/stats/stats_addr.json'
      - name: Upload the verification report
        uses: actions/upload-artifact@v2
        with:
          name: stats_addr.json
          path: /stats/stats_addr.json
          if-no-files-found: error # could also be 'warn' or 'ignore'
